/* 광범위 지정 CSS */
*,
:after,
:before {
    box-sizing: border-box;
    outline: none;
}

.cls-1 {
    font-size: 50px;
    font-weight: 100;
    fill: #2a7de1;
    text-anchor: middle;
    font-family: "Black Han Sans";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

article,
aside,
body,
div,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.mr4 {
    margin-right: 4px;
}

.mb24 {
    margin-bottom: 24px;
}

.wrap {
    width: 100%;
    height: 100%;
}

/* Header CSS ===============================================================================================================================================================*/
header {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
}

.search-bar {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.search-input {
    display: inline-block;
    background-color: #f3f4f5;
    color: #3c4144;
    border: 0;
    border-radius: 4px;
    zoom: 1;
    height: 100%;
}

.search-first{
    padding: 10px 36px 10px 58px;
}

.search-second{
    padding: 10px 36px 10px 58px;
    width: 243px;
}

.search-input::placeholder {
    color: #949ba0;
    font-size: 14px;
    font-weight: 300;
}

.input-erase-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.erase-all-first {
    cursor: pointer;
    display: none;
    margin: 0 4px 0 8px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.erase-all-second {
    cursor: pointer;
    display: none;
    margin: 0 4px 0 8px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.search-input-icon {
    left: 0;
    width: max-content;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-search {
    display: block;
    margin-left: 14px;
    opacity: .8;
    position: relative;
    z-index: 2;
}


/* 메인 컨테이너 작성해주세요 */
.main-container {
    min-height: calc(100vh - 342px);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}


/* Footer CSS ===============================================================================================================================================================*/
footer {
    border: 1px solid #eaecee;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #f3f4f5;
    white-space: nowrap;
}


@media (max-width: 1000px) {

    .search-input {
        display: none;
    }

    .search-input-icon {
        position: relative;
        top: 0;
        transform: translateY(2%);
    }

    .mobile.search-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-erase-btn {
        display: none;
    }

    .mobile.input-erase-btn {
        display: flex;
    }

    .mobile.search-bar {
        width: 100%;
    }

    .mobile.search-input {
        display: flex;
    }

    .mobile-bottom-nav-con {
        display: flex;
    }

    .mobile-bottom-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 87.75px;
    }

    .mobile-bottom-title {
        color: #767D82;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        margin-top: 2px;
    }

    .icons-btn:hover:not(.user-profile) {
        background-color: transparent;
    }

    .main-container {
        margin-top: 53px;
    }
}

/* Main CSS ===============================================================================================================================================================*/
.main-container {
  min-height: calc(100vh - 342px);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

/* 배너 */
.banner-show-container {
  width: 100%;
  height: 432px;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  display: flex;
  float: left;
  z-index: 6;
}

.arrows {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 3;
  opacity: 0;
}

.banners {
  width: 600vw;
  height: 432px;
  display: flex;
}

.slide {
  width: 100vw;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide1 {
  background-color: rgb(79, 88, 180);
}

#slide2 {
  background-color: rgb(0, 140, 95);
}

#slide3 {
  background-color: rgb(57, 109, 120);
}

#slide4 {
  background-color: rgba(29, 57, 126, 0.698);
}

#lastSlide {
  background-color: rgba(29, 57, 126, 0.698);
}

#firstSlide {
  background-color: rgb(79, 88, 180);
}

#banner-btns-grid {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-btns {
  width: 1108px;
  height: 10px;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  top: 400px;
}

.banner-btn {
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: transparent;
  height: 10px;
  width: 10px;
  margin-right: 8px;
  cursor: pointer;
}

.banner-btn button {
  border: none;
  background: transparent;
}

.inner-container {
  height: 358px;
  max-width: 1108px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* ==============================================LEFT BAR LEFT BAR LEFT BAR LEFT BAR LEFT BAR LEFT BAR========================================= */

.sidebar-container {
  display: flex;
  padding: 0 12px;
  max-width: 25%;
  flex: 0 0 25%;
}

.sidebar-fixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  width: 253px;
  z-index: 10;
}

.login-container {
  border: 1px solid #eaecee;
  border-radius: 10px;
  padding: 5px 5px;
  width: 100%;
}

.login-user-container {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-user-avatar {
  margin-right: 10px;
  height: 68px;
  width: 68px;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
}

.find-user-avatar{
    margin-right: 10px;
    height: 90px;
    width: 90px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}



.no-avatar {
  background: #f3f4f5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.need-login {
  color: #202325;
  line-height: 150%;
  letter-spacing: .02em;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  word-wrap: break-word;
  word-break: keep-all;
  margin: 0 0 6px 0;
  padding: 0;
}

.page-category{
  display: flex;
}

.to-mypage {
  width: 50%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 20px;
  min-width: 49px;
  padding: 0 12px;
  background-color: #d4e5f9;
  color: #2a7de1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: 0;
  margin: 16px 4px 8px 4px;
}

.to-post-write {
  width: 241px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 20px;
  min-width: 49px;
  padding: 0 12px;
  background-color: #2A7DE1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  border: 0;
  margin: 16px 0;
}

.popular-posts-container-title {
  color: rgb(4, 5, 5);
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.popular-posts-container {
  border: 3px solid #eaecee;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 0 5px 5px;
  margin: 0;
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.popular-post {
  width: 100%;
  cursor: pointer;
}

.popular-post:not(:last-child)::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 96%;
  border-top: 1px solid #eaecee;
  margin: 5px 0;
}

.popular-post-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.popular-post-date {
  color: rgb(89, 95, 99);
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.popular-post-category {
  color: rgb(89, 95, 99);
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-right: 15px;
}

.popular-post-title {
  color: rgb(4, 5, 5);
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.caption1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px
}


/* 임시 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.inner-container img {
  width: 100%;
  height: 100%;
}

.banner-mainfont {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
}

.banner-right-side-box {
  background-color: #eaecee;
  border-radius: 10px;
  border: none;
  width: 636px;
  height: 358px;
  right: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.banner-right-side-box-moving {
  background-color: #eaecee;
  border-radius: 10px;
  border: none;
  width: 636px;
  height: 358px;
  right: 0;
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  perspective: 1000px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 636px solid transparent;
  border-bottom: 358px solid #e0703f;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.front-flip,
.back-flip {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: #2a7de1;
  backface-visibility: hidden;
  border-radius: 10px;
}

.back-flip {
  transform: rotateX(180deg);
  background-color: #fff;
}

.logo-font {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
}

.logo-front-left,
.logo-back-left {
  top: 80px;
  left: 40px;
}

.logo-front-right,
.logo-back-right {
  bottom: 80px;
  right: 40px;
  z-index: 10;
}

.logo-back-left {
  left: 150px;
}

.logo-back-right {
  right: 150px;
}

/* 사이트 소개 카드 */
.introduces {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 40px;
  position: relative;
}

.introduce-container-with-extra {
  display: flex;
  flex-direction: column;
}

.introduce-container {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.bar{
  border-right: 1px solid #eaecee;
}

.main-section-title {
  color: rgb(4, 5, 5);
  font-weight: 600;
  line-height: 33px;
  font-size: 26px;
  width: 542px;
  justify-content: center;
  display: flex;
}

.cards-container {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
}

.card {
  width: 259px;
  height: 416px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 12px;
  cursor: pointer;
}

.card:last-child {
  margin-right: 0;
}

.card-img-box {
  border: 1px solid #f3f4f5;
  border-radius: 10px;
  height: 300px;
  isolation: isolate;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-img-box img {
  height: 100%;
  display: block;
  transition: transform 0.3s;
}

.card:hover .card-img-box img {
  transform: scale(1.1);
}

.card-info-container {
  margin-top: 12px;
  width: 100%;
}

.card-info-subtitle {
  display: flex;
  align-items: center;
  color: rgb(60, 65, 68);
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

.card-info-title {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  height: 50px;
  color: rgb(4, 5, 5);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 25px;
  word-break: keep-all;
  word-wrap: break-word;
}

.card-info-bottom-line {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.card-info-bottom-line span {
  font-size: 12px;
  font-weight: 400px;
  line-height: 15px;
  color: rgb(173, 179, 184);
}

.card-info-bottom-line hr {
  border-color: rgb(234, 236, 238);
  height: 10px;
  width: 0;
  border-style: solid;
  margin: 0 8px 0;
  border-left: 1px;
}

/* 모임 커뮤니티 소개 칸 */
.community-introduce {
  margin: 50px 0;
}

.community-container {
  display: flex;
  position: relative;
  width: 100%;
}

.community {
  width: 542px;
  height: 100%;
  min-height: 150px;
  margin-right: 24px;
  padding: 18px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border: 1px solid rgb(234, 236, 238);
  border-radius: 10px;
}

.community:last-child {
  margin-right: 0;
}

.community-tags-container {
  margin: 0 0 6px;
}

.tag {
  margin-right: 6px;
  background: #f3f4f5;
  border: 0;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  font-size: 10px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  padding: 1.5px 4px;
}

.community-tags-container {
  display: flex;
  position: relative;
}

.first-tag {
  background: #d4e5f9;
  color: #2a7de1;
}

.community-title {
  color: rgb(4, 5, 5);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  word-wrap: break-word;
  margin-bottom: 8px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
}

.community-content {
  display: -webkit-box;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
  color: rgb(32, 35, 37);
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 25px;
  height: 100px;
  margin-bottom: 16px;
  min-height: 72px;
  position: relative;
}

.name-box {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button-box{
  display: flex;
  justify-content: flex-end;
}

.friend-message-btn {
  background-color: #D9E5F7;
  border: transparent;
  color: #000000;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 20px;
  min-width: 49px;
  padding: 0 12px;
  bottom: 20px;
  right: 20px;
}

.friend-delete-btn {
  background-color: #ffdddb;
  border: transparent;
  color: #000000;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 20px;
  min-width: 49px;
  padding: 0 12px;
  bottom: 20px;
  right: 20px;
  margin-left: 4px;
}

.enter-button-icon {
  display: flex!important;
}



/* mypage CSS ===============================================================================================================================================================*/

.mypageContainer {
  background-color: rgb(255, 255, 255);
  min-height: calc(100vh - 324px);
  height: 100%;
  width: 100%;
  max-width: 1140px;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  margin-top: 150px;
  padding-top: 0 !important;
  padding-left: 16px;
  padding-right: 16px;
}

.asideMenucontainer {
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}

.mypageAsideMenu {
  padding: 12px;
  position: relative;
  width: 259px;
}

.profile {
  display: flex;
  margin-bottom: 32px !important;
}

.imageUploadContainer {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 68px;
  text-align: center;
}

.image {
  background-image: url(https://cdn.comento.kr/images/illust/illust-photo-upload.svg);
  width: 48px;
  height: 48px;
  line-height: 68px;
  background-size: 100% 100%;
  border-radius: 100%;
  display: block;
}

.imageItem {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageUploadContainer input[type="file"] {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.input {
  appearance: none;
}

.userInfoConatiner {
  overflow: hidden;
  cursor: pointer !important;
  margin-left: 4px !important;
}

.userName {
  color: #202325;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-bottom: 2px !important;
}

.userEmailContainer {
  align-items: center;
  cursor: pointer !important;
  display: flex;
}

.userEmail {
  color: #767d82;
  line-height: 16px !important;
  font-size: 12px;
  font-weight: 400;
  word-break: keep-all;
  word-wrap: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.socialIconContainer {
  height: 14px;
  min-width: 14px;
  background: #fee500;
  align-items: center;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  margin-left: 6px !important;
  margin-top: 2px !important;
}

.socialIcon {
  border-style: none;
  max-width: 100%;
}

a {
  background-color: transparent;
}

.editProfile,
.mySchedules,
.myPosts {
  border-radius: 8px;
  padding: 12px 4px;
  align-items: center;
  display: flex !important;
  justify-content: space-between;
  cursor: pointer !important;
  color: #202325;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 400;
  position: relative !important;
}

.editProfile {
  font-weight: 600;
}

.borderDividingLine {
  border-color: #eaecee;
  border-style: solid;
  border-top: 1px;
  height: 0;
  width: inherit;
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}

.profileContentsContainer {
  padding: 12px 24px !important;
  flex: 0 0 75%;
  max-width: 75%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.profileContentsHeader {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.profileContentsTitle {
  align-items: center;
  display: flex !important;
  height: 29px;
  justify-content: space-between;
}

.personalInfoSetting {
  color: #3c4144;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
  word-break: keep-all;
}

.profileContentsOptions {
  background-color: #ffffff;
  max-width: 1140px;
  margin: 8px -12px 24px;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 !important;
  border-bottom: 0 !important;
  margin-left: -8px;
}

.myProfileContainer {
  margin-right: 12px;
  align-items: center;
  display: flex !important;
  position: relative;
}

.myProfileButton,
.membershipWithdrawalButton {
  margin: 8px 0 9px;
  min-width: 40px;
  color: #040505;
  font-weight: 500;
  background: none !important;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  outline: 0;
  padding: 4px;
  width: fit-content;
  border-radius: 6px;
  height: 30px !important;
  align-items: center;
  display: flex !important;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.active::after {
  background: #595f63 !important;
  bottom: -1px;
  content: "";
  display: flex;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.membershipWithdrawalButton {
  color: #adb3b8;
}

.profileContentsBody {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.profileContents {
  align-items: center;
  justify-content: space-between;
}

.profileContents .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInformationContainer {
    cursor: pointer;
  align-items: center;
  display: flex;
}

.userInformationContainer .imageUploadContainer {
  width: 90px;
  height: 90px;
  display: block;
  margin-right: 20px;
  line-height: 68px;
  position: relative;
  text-align: center;
}

.userInformationContainer .image {
  background-image: url(https://cdn.comento.kr/images/illust/illust-photo-upload.svg);
  width: 90px;
  height: 90px;
  background-size: 100% 100%;
  line-height: 68px;
  border-radius: 100%;
  display: block;
}

.userInformationContainer .imageItem {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.userInformationContainer .input[type="file"] {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.profile .userName {
  flex-direction: column;
  justify-content: center;
  display: flex;
  color: #202325;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 600 !important;
  margin-right: 12px !important;
}

.serviceInformationContainer {
  width: 382px;
  display: flex !important;
  justify-content: flex-end;
}

.numPostContainer,
.numReplyContainer,
.numScheduleContainer {
  justify-content: center;
  width: 25%;
  color: rgb(4, 5, 5);
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
}

.numPostContainer{
  border-right: 1px solid #eaecee;
}

.numPostTitle,
.numReplyTitle,
.numScheduleTitle {
  color: rgb(173, 179, 184);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-top: 16px !important;
}

.editNicknameContainer {
  width: 100%;
  height: 58px;
  margin-top: 32px;
  align-items: center;
  display: flex !important;
}

.editNicknameTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-bottom: 14px !important;
}

.editNicknameBody {
  margin-left: 12px !important;
  display: flex;
}

.nicknameBox {
  width: 205px;
  flex: 1;
  position: relative;
  text-align: left;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  padding: 0 16px;
  color: #3c4144;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.02em;
  line-height: 25px;
  transition: all 0.2s ease;
  width: 100%;
}

.verifyNickname {
  height: 40px;
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid #2a7de1;
  color: #2a7de1;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 25px;
  min-width: 56px;
  padding: 0 14px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.saveNickname {
  height: 40px;
  margin-left: 4px;
  background-color: #d4e5f9;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 25px;
  min-width: 56px;
  padding: 0 14px;
  cursor: not-allowed !important;
  align-items: center;
  border: none;
  color: #fff;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.nicknameUpdateMessageContainer {
  height: 14px;
  color: rgb(42, 125, 225);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-top: 4px !important;
  margin-left: 100px; /* 임시로 추가함 */
}

/* 
닉네임 에러시
.nicknameBox {
  border-color: #e92525;
  color: #e92525;
}

.nicknameUpdateMessageContainer {
  color: rgb(233, 37, 37);
}

.nicknameUpdateMessageContainer > svg {
  fill: rgb(233, 37, 37) !important;
}
*/

.notificationSettingTitle {
  color: #3c4144;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-bottom: 32px !important;
  margin-top: 32px !important;
}

.notificationRecieveAgreement {
  color: rgb(32, 35, 37);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 600 !important;
  margin-bottom: 16px !important;
}

.lawNotificationAgreementContainer,
.serviceNotificationAgreementContainer,
.commercialNotificationAgreementContainer {
  display: flex !important;
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}

.lawNotification {
  cursor: not-allowed !important;
}

.lawNotification,
.serviceNotification,
.commercialNotification {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  box-sizing: border-box;
  appearance: none;
}

.disabled {
  cursor: not-allowed !important;
}

.disabled,
.able {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  pointer-events: none;
}

.disabled:before,
.able:before {
  background-color: #f3f4f5;
  content: "";
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  margin-top: 2px;
  width: 20px;
}

.disabled:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23cfd4d7'%3E%3Cpath d='M13.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-4-4a.5.5 0 1 1 .708-.708L6.5 10.793l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  border-color: #e1e4e6;
}

input[type="checkbox"]:checked + .able:before {
  background-image: url("/Seongmin/mypage/images/check.svg");
  border-color: #2a7de1;
}

.lawNotificationAgreement {
  color: rgb(207, 212, 215);
}

.lawNotificationAgreement,
.serviceNotificationAgreement,
.commercialNotificationAgreement {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
}

.serviceNotificationAgreement,
.commercialNotificationAgreement {
  color: rgb(148, 155, 160);
}

.contactInfoTitle {
  color: rgb(32, 35, 37);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 600 !important;
  margin-top: 60px !important;
  margin-bottom: 16px !important;
}

.contactInfoSubtitle {
  color: rgb(118, 125, 130);
  display: inline-block;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-bottom: 8px !important;
}

#phoneNumberForm {
  text-align: left;
}

.phoneNumberContainer {
  width: 370px;
  display: flex !important;
  flex: 1;
  margin-bottom: 15px;
}

.phoneNumberInputContainer {
  display: block;
  position: relative;
}

.phoneNumberBox {
  text-align: left;
  border: 1px solid #e1e4e6;
  border-radius: 4px;
  padding: 0 16px;
  color: #3c4144;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.02em;
  line-height: 25px;
  transition: all 0.2s ease;
  width: 100%;
}

.phoneNumberErrorMessage {
  color: rgb(233, 37, 37);
  margin-left: 16px;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  word-wrap: break-word;
  word-break: keep-all;
}

.saveContactInfo {
  height: 40px;
  margin-left: 4px;
  background-color: #d4e5f9;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 25px;
  min-width: 56px;
  padding: 0 14px;
  align-items: center;
  border: none;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button-box{
    display: flex;
    justify-content: flex-end;
}

.friend-message-btn {
    background-color: #D9E5F7;
    border: transparent;
    color: #000000;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    bottom: 20px;
    right: 20px;
}

.friend-delete-btn {
    display: none;
    background-color: #ffdddb;
    border: transparent;
    color: #000000;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    bottom: 20px;
    right: 20px;
    margin-left: 4px;
}
