/* 광범위 지정 CSS */
*,
:after,
:before {
    box-sizing: border-box;
    outline: none;
}

.cls-1 {
    font-size: 50px;
    font-weight: 100;
    fill: #2a7de1;
    text-anchor: middle;
    font-family: "Black Han Sans";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

article,
aside,
body,
div,
footer,
header,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.mr4 {
    margin-right: 4px;
}

.mb24 {
    margin-bottom: 24px;
}

.wrap {
    width: 100%;
}

/* Main CSS =============================================================================================================================================================== */
.main-container {
    min-height: calc(100vh - 140px);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 114px;
}

.new-background-color {
    background-color: #f7f8f8;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.no-avatar {
    background: #f3f4f5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 포스트 CSS */
.post-container {
    width: 730px;
    background-color: #fff;
    padding: 62px 16px 20px;
    display: block;
}

.post-top-container {
    display: flex;
    justify-content: space-between;
}

.post-user-container {
    padding: 2px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 8px;
}

.post-user-avatar {
    margin-right: 6px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}

.post-no-avatar {
    background: #f3f4f5;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
}

.post-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.post-action {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 28px;
    height: 28px;
}

.post-action-btn {
    height: 28px;
    width: 28px;
    padding: 2px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-action-btn:hover {
    background-color: #f3f4f5;
}

.post-action-list-container {
    border-radius: 10px;
    width: max-content;
    background: #fff;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
    display: none;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    z-index: 6;
}

.post-action-list {
    margin: 8px 12px;
}

.post-action-selection {
    border-radius: 6px;
    padding: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: rgb(60, 65, 68);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.post-action-selection svg {
    margin-right: 4px;
}

.action-icon {
    margin-right: 10px;
    cursor: pointer;
    background: transparent;
}

.post-action-devider {
    border-color: rgb(243, 244, 245);
    margin: 6px 0;
    border-style: solid;
    border: 1px 0 0 0;
    height: 0;
}

.post-title {
    color: #040505;
    margin-bottom: 8px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.post-content {
    color: rgb(32, 35, 37);
    margin-bottom: 16px;
    min-height: 72px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
}

.post-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-bottom-count-container {
    display: flex;
    align-items: center;
}

.post-bottom-indicator-btn {
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    height: 28px;
    padding: 4px;
}

.post-bottom-indicator-btn:hover {
    background: #f3f4f5;
}

.post-bottom-svg {
    cursor: inherit;
    margin: 2px 4px 2px 0;
    background: transparent;
}

.post-bottom-divider {
    border-color: rgb(234, 236, 238);
    height: 12px;
    border-style: solid;
    border: 0 0 0 1px;
    width: 0;
    margin: 0 12px;
}

.post-bottom-count-indi {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.post-bottom-date-indicator {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* 댓글 작성 CSS */
.comment-container {
    width: 730px;
    display: block;
    margin-top: 32px;
    border: 1px solid rgb(225, 228, 230);
    padding: 10px 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.fake-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fake-placeholder {
    color: rgb(207, 212, 215);
    flex: 1 1 0;
    cursor: text;
}

.fake-btn {
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #2A7DE1;
    background-color: #d4e5f9;
    cursor: pointer;
}

#hidden-comment-wrap {
    display: none;
}

.comment-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-user-container {
    padding: 2px 0 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.comment-login-user-avatar {
    margin-right: 8px;
    height: 48px;
    width: 48px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}

.comment-user-name-container {
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.comment-user-name {
    color: inherit;
    font-weight: 600;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 25px;
}

.comment-content-container {
    display: flex;
    position: relative;
}

.comment-content {
    background: #fff;
    border: 0;
    box-sizing: border-box;
    color: #3c4144;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
    overflow: hidden;
    padding: 16px;
    resize: none;
    width: 100%;
}

.comment-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.type-count-container {
    display: flex;
    align-items: center;
}

.type-count-indi {
    color: rgb(148, 155, 160);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 4px;
}

#type-counter {
    color: rgb(89, 95, 99);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.comment-summit-btn {
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    background-color: #d4e5f9;
    color: #2a7de1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.comment-summit-btn:disabled {
    background-color: #f7fafe;
    color: #d4e5f9;
    cursor: not-allowed;
}

/* 댓글 CSS */
.reply-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.reply-count-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.reply-count {
    color: rgb(89, 95, 99);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.reply-article {
    border: 1px solid rgb(234, 236, 238);
    padding: 20px;
    width: 730px;
    border-radius: 2px;
    display: block;
    position: relative;
    background-color: #fff;
}

.reply-article:not(:first-child) {
    margin-top: 40px;
}

.reply-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply-user-container {
    padding: 2px 0 16px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.reply-login-user-avatar {
    margin-right: 8px;
    height: 48px;
    width: 48px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}

.reply-user-name-container {
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.reply-user-name {
    color: inherit;
    font-weight: 600;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 25px;
}

.reply-content {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
    word-break: break-word !important;
    color: rgb(32, 35, 37);
}

.reply-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.reply-date {
    color: rgb(207, 212, 215);
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.reply-edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
}

.reply-edit-btn:hover {
    background-color: #f3f4f5;
}

.reply-edit {
    display: none;
}

.reply-edit-container {
    padding: 20px;
}

.reply-edit-textarea {
    background: #fff;
    border: 0;
    box-sizing: border-box;
    color: #3c4144;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 25px;
    resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 185px;
    height: auto;
    padding: 0;
}

.reply-edit-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.reply-type-count-container {
    display: flex;
    align-items: center;
}

.reply-type-count-indi {
    color: rgb(148, 155, 160);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 4px;
}

.reply-type-counter {
    color: rgb(89, 95, 99);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.reply-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reply-edit-back {
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    margin-right: 8px;
    background-color: #d4e5f9;
    color: #2a7de1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.reply-summit-btn {
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    background-color: #d4e5f9;
    color: #2a7de1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.reply-summit-btn:disabled {
    background-color: #f7fafe;
    color: #d4e5f9;
    cursor: not-allowed;
}

.no-reply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    min-height: 160px;
    max-height: 240px;
    padding: 32px;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
    color: #757575;
}

.post-action-modal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    z-index: 15;
    bottom: 0;
    transition: 200ms;
    transform: translateY(100%);
}

.action-modal-list {
    border-radius: 8px;
    padding: 12px 4px;
    display: flex;
    cursor: pointer;
    margin-bottom: 6px;
}

.action-modal-list:last-child {
    margin-bottom: 0;
}

.action-modal-devider {
    border: 0;
    border-top: 1px solid rgb(243, 244, 245);
    width: 100%;
    height: 0;
}










@media (max-width: 1000px) {
    footer {
        margin-bottom: 62px;
    }

    .footer-view-container {
        display: flex;
        overflow: hidden;
    }

    .footer-container {
        height: 40px;
    }

    .header-nav-container {
        height: 52px;
    }

    .header-nav {
        display: none;
    }

    .search-input {
        display: none;
    }

    .header-login {
        display: none;
    }

    .header-icon:nth-child(3) {
        display: none;
    }

    .header-icon:nth-child(2) {
        margin-right: 0;
    }

    .search-input-icon {
        position: relative;
        top: 0;
        transform: translateY(2%);
    }

    .mobile.search-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-erase-btn {
        display: none;
    }

    .mobile.input-erase-btn {
        display: flex;
    }

    .header-icons-division ul {
        margin-left: 8px;
    }

    .sub-header {
        display: none;
    }

    .mobile.search-bar {
        width: 100%;
    }

    .mobile.search-input {
        display: flex;
    }

    .mobile-bottom-nav-con {
        display: flex;
    }

    .mobile-bottom-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 87.75px;
    }

    .mobile-bottom-title {
        color: #767D82;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        margin-top: 2px;
    }

    .icons-btn:hover:not(.user-profile) {
        background-color: transparent;
    }

    .main-container {
        margin-top: 53px;
    }

    .header-nav-container {
        display: none;
    }

    .mobile-detail-header-con {
        display: flex;
    }

    .grid-container {
        padding: 0;
    }

    .post-container {
        padding: 32px 16px 16px;
    }

    .comment-container {
        margin: 0;
        border-top: 1px dotted rgb(225, 228, 230);
    }

    .fake-placeholder {
        border: 1px solid #e1e4e6;
        border-radius: 4px;
        padding: 10px 16px;
    }

    .fake-btn {
        margin-left: 10px;
    }

    .comment-container {
        padding: 20px 16px;
    }

    .comment-top-container {
        display: none;
    }

    .comment-content {
        border: 1px solid #e1e4e6;
        border-radius: 4px;
    }

    .reply-container {
        width: 100%;
        margin: 32px 0 85px;
    }

    .reply-article {
        width: 100%;
    }

    .reply-count-container {
        margin: 0 16px 16px;
    }

    .comment-container {
        width: 100%;
    }
}