/* 광범위 지정 CSS */
*,
:after,
:before {
    box-sizing: border-box;
    outline: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

article,
aside,
body,
div,
footer,
header,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.mr4 {
    margin-right: 4px;
}

.mb24 {
    margin-bottom: 24px;
}

/* Header CSS ===============================================================================================================================================================*/
header {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

.header-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    max-width: 1108px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav-container-left {
    display: inherit;
    align-items: center;
}

.header-logo {
    display: inherit;
    align-items: center;
}

.header-nav {
    display: flex;
    margin: 26px;
}

.header-nav-menu {
    color: #595f63;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
}

.header-nav-menu:not(:first-child) {
    margin-left: 24px;
}

.header-nav-continer-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-bar {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 40px;
}

.search-input {
    display: inline-block;
    background-color: #f3f4f5;
    color: #3c4144;
    border: 0;
    border-radius: 4px;
    zoom: 1;
    height: 100%;
    padding: 10px 36px 10px 58px;
}

.search-input::placeholder {
    color: #949ba0;
    font-size: 14px;
    font-weight: 300;
}

.input-erase-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.erase-all {
    cursor: pointer;
    display: none;
    margin: 0 4px 0 8px;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.search-input-icon {
    left: 0;
    width: max-content;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-search {
    display: block;
    margin-left: 14px;
    opacity: .8;
    position: relative;
    z-index: 2;
}

.header-login {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 42px;
    justify-content: center;
}

.header-login-btn {
    color: rgb(148, 155, 160);
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    line-height: 20px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
}

.header-login-btn:hover {
    background: #f3f4f5;
}

.header-icons-division {
    display: flex;
    align-items: center;
}

.header-icons-division ul {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.header-icon {
    margin-right: 8px;
}

.icons-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 28px;
    padding: 2px;
    width: 28px;
}

.avatar-profile {
    height: 24px;
    inline-size: 24px;
    width: 24px;
    display: block;
    border-radius: 100%;
    background: #f3f4f5;
}

.profile-setter {
    display: flex;
    position: absolute;
}

.avatar-no-profile {
    overflow: hidden;
    background: transparent;
}

.header-split-line {
    border: 0;
    margin: 0;
    border-top: 1px;
    height: 0;
    width: inherit;
    border-style: solid;
    border-color: #f3f4f5;
    opacity: 1;
}

/* Sub-Header CSS ===============================================================================================================================================================*/
.sub-header {
    background-color: #fff;
    left: 0;
    position: fixed;
    transition: all 0.1s;
    width: 100vw;
    z-index: 10;
    top: 69px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .02);
}

.sub-header-box {
    max-width: 1140px;
    background-color: inherit;
}

.sub-header-menu {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f4f5;
}

.first-menu {
    display: none;
}

.second-menu {
    display: none;
}

.sub-header-menu-btn {
    background: none;
    border: 0;
    color: #adb3b8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: auto;
    outline: 0;
    padding: 4px;
    width: fit-content;
    height: 43px;
    display: flex;
    align-items: center;
    position: relative;
}

.sub-header-menu-btn:not(:last-child) {
    margin-right: 12px;
}

.sub-header-menu-btn button {
    background: none;
    border: 0;
    color: #adb3b8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: auto;
    outline: 0;
    padding: 4px;
    width: fit-content;
    height: 43px;
}

.hover-font-weight-600:hover {
    font-weight: 600;
    color: #595f63;
}

/* 메인 컨테이너 작성해주세요 */
.main-container {
    min-height: calc(100vh - 342px);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

div.login-mb-85 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 600px;
}

div.login-view-wrapper {
    background-color: rgb(255, 255, 255);
    padding: 60px 38.5px;
    width: 343px;
    margin: auto;
    display: block;
    height: 543.59px;
}

div.c-headline3 {
    color: rgb(32, 35, 37);
    line-height: 140%;
    font-size: 24px;
    font-weight: 600;
    
}

div.register-buttons {
    width: 100%;
    margin-bottom: 24px;
    height: 288px;
}

div.button-email {
    background: #EAECEE;
    color: #949ba0;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin: 0 0 12px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.button-icon {
    margin-right: 2px;
    width: 24px;
    height: 48px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    border-style: none;
    max-width: 100%;
}

div.ml-6 {
    margin-left: 6px !important;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

div.button-massage {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    font-weight: 400;
}

p {
    color: rgb(173, 179, 184);
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

a.agree {
    background-color: transparent;
    color: #495057;
    text-decoration: none;
    cursor: pointer;
}

u.d-block {
    color: rgb(42, 125, 225);
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-left: 80px;
}

div.email-small {
    color: rgb(60, 65, 68);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

div.id-field {
    position: relative;
}

div.id-input {
    position: relative;
}

input.input-field {
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;

}

div.pw-small {
    color: rgb(60, 65, 68);
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

div.pw-field {
    position: relative;
}

div.pw-input {
    position: relative;
}

span {
    box-sizing: border-box;
    outline: none;
    color: #e1e4e6;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

input.input-field2 {
    text-align: left;
    padding: 0 16px;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    color: #3c4144;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: .02em;
}

button.login-button {
    height: 48px!important;
    margin: 24px 0;
    width: 100%;
    padding: 0 12px;
    min-width: 49px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #2a7de1;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

div.c-button-icon {
    display: flex;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

div.semi-bold {
    color: inherit;
    font-weight: 600!important;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .02em;

}

/* Footer CSS ===============================================================================================================================================================*/
footer {
    padding: 48px 0 60px;
    border: 1px solid #eaecee;
    bottom: 0;
    width: 100%;
    position: relative;
}

.footer-font {
    color: rgb(118, 125, 130);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.footer-container {
    flex: 0 0 100%;
    max-width: 1108px;
    display: flex;
}

.footer-container h2 {
    color: rgb(32, 35, 37);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.customer-center-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 184px;
    width: 280px;
}

.work-time-info {
    margin-top: 20px;
}

.customer-center-btn {
    background-color: transparent;
    border: 1px solid #949ba0;
    color: #767d82;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.customer-center-icon {
    background-color: transparent;
    cursor: auto;
    margin-right: 2px;
    display: flex;
}

.service-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.service-box {
    cursor: pointer;
    width: max-content;
    margin-top: 12px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 418px;
}

.info-sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.terms {
    display: flex;
    align-items: center;
}

.section-devider {
    border-color: rgb(234, 236, 238);
    border-style: solid;
    border-left: 1px;
    height: inherit;
    width: 0;
    margin: 0 32px;
}

.link-right {
    display: flex;
    float: right;
}

.link-right li {
    margin-right: 8px;
}