/* 광범위 지정 CSS */
*,
:after,
:before {
    box-sizing: border-box;
    outline: none;
}

.cls-1 {
    font-size: 50px;
    font-weight: 100;
    fill: #2a7de1;
    text-anchor: middle;
    font-family: "Black Han Sans";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

article,
aside,
body,
div,
footer,
header,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.mr4 {
    margin-right: 4px;
}

.mb24 {
    margin-bottom: 24px;
}

.wrap {
    width: 100%;
}


/* Main CSS ============================================================================================================================================================== */
.main-container {
    min-height: calc(100vh - 140px);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 114px;
}

.caption1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.inside-container {
    margin-top: 36px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.sidebar-container {
    display: flex;
    padding: 0 12px;
    max-width: 25%;
    flex: 0 0 25%;
}

.sidebar-fixed {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 253px;
    z-index: 10;
}

.login-container {
    border: 1px solid #eaecee;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100%;
}

.login-user-container {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-user-avatar {
    margin-right: 10px;
    height: 68px;
    width: 68px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}

.no-avatar {
    background: #f3f4f5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.need-login {
    color: #202325;
    line-height: 150%;
    letter-spacing: .02em;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    word-wrap: break-word;
    word-break: keep-all;
    margin: 0 0 6px 0;
    padding: 0;
}

.to-mypage {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    background-color: #d4e5f9;
    color: #2a7de1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 0;
    margin: 16px 0 8px 0;
}

.to-post-write {
    width: 241px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    background-color: #2A7DE1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    border: 0;
    margin: 16px 0;
}

.popular-posts-container-title {
    color: rgb(4, 5, 5);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.popular-posts-container {
    border: 3px solid #eaecee;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 0 5px 5px;
    margin: 0;
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.popular-post {
    width: 100%;
    cursor: pointer;
}

.popular-post:not(:last-child)::after {
    content: "";
    display: flex;
    justify-content: center;
    width: 96%;
    border-top: 1px solid #eaecee;
    margin: 5px 0;
}

.popular-post-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.popular-post-date {
    color: rgb(89, 95, 99);
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.popular-post-category {
    color: rgb(89, 95, 99);
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 15px;
}

.popular-post-title {
    color: rgb(4, 5, 5);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

/* 포스트 */

.contents-container {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
}

.community-post-container {
    border: 1px solid #eaecee;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    background: #fff;
}

.post-container {
    width: 100%;
}

.community-post-inside-con {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.post-title {
    color: rgb(4, 5, 5);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-bottom: 12px;
}

.post-content {
    color: rgb(89, 95, 99);
    font-weight: 400;
    min-height: 40px;
    margin-bottom: 24px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.more-text {
    color: #a7852a;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.timeline-bottom-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.rating-group {
    display: flex;
    flex-direction: row;
}

.icon-rating {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.icon-rating:last-child {
    margin-right: 0;
}

.post-icon {
    margin-right: 4px;
    background: transparent;
    cursor: auto;
}

.post-count {
    color: rgb(148, 155, 160);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.page-btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #595f63;
}

.btn-grid {
    margin-right: 15px;
}

.btn-grid:last-child {
    margin-right: 0;
}

.change-page:hover {
    color: rgb(4, 5, 5);
    font-weight: 500;
}

.write-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    right: 20px;
    bottom: 72px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .06);
    cursor: pointer;
    z-index: 10;
    border-radius: 100%;
    background-color: #2A7DE1;
    position: fixed;
}



@media (max-width: 1000px) {
    footer {
        margin-bottom: 62px;
    }

    .footer-view-container {
        display: flex;
        overflow: hidden;
    }

    .footer-container {
        height: 40px;
    }

    .header-nav-container {
        height: 52px;
    }

    .header-nav {
        display: none;
    }

    .search-input {
        display: none;
    }

    .header-login {
        display: none;
    }

    .header-icon:nth-child(3) {
        display: none;
    }

    .header-icon:nth-child(2) {
        margin-right: 0;
    }

    .search-input-icon {
        position: relative;
        top: 0;
        transform: translateY(2%);
    }

    .mobile.search-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-erase-btn {
        display: none;
    }

    .mobile.input-erase-btn {
        display: flex;
    }

    .header-icons-division ul {
        margin-left: 8px;
    }

    .sub-header {
        display: flex;
        top: 52px;
    }

    .sub-header-menu {
        margin: 0;
    }

    .mobile.search-bar {
        width: 100%;
    }

    .mobile.search-input {
        display: flex;
    }

    .mobile-bottom-nav-con {
        display: flex;
    }

    .mobile-bottom-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 87.75px;
    }

    .mobile-bottom-title {
        color: #767D82;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        margin-top: 2px;
    }

    .icons-btn:hover:not(.user-profile) {
        background-color: transparent;
    }

    .main-container {
        margin-top: 95px;
        background-color: #f7f8f8;
    }

    .sidebar-container {
        display: none;
    }

    .contents-container {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .header-split-line {
        display: none;
    }

    .inside-container {
        margin-top: 20px;
    }

    .change-page:hover {
        color: inherit;
    }

    .hover-font-weight-600:hover {
        color: inherit;
    }

    .write-btn {
        display: flex;
    }

    .sub-header-devider {
        margin: auto 5px;
    }

    .sub-header-menu-btn:not(:last-child) {
        margin-right: 2px;
    }
}